$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    padding-top: 70px;
}

// Fix for empty href attributes.
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

h1 {
    margin-top: 0;
}

td.order-active {
    width: .5em;
}

.navbar-brand a {
    color: white;
}