<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#/account">Account</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/">roundzero</a></h3>
</div>

<div class="jumbotron">
  <h1>Account</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>

<div class="row marketing">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ng-href="#/add-group" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span></a>
        <h2>Groups</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item clearfix"><a ng-href="#/group">Group name</a><a ng-href="#/add-group" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-pencil"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ng-href="#/edit-profile" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        <h2>Profile</h2>
      </div>
      <div class="panel-body">
        <label>Nickname</label>
        <p>Fred</p>
        <label>Email</label>
        <p>test@example.com</p>
        <label>Coffee <span class="glyphicon glyphicon-star"></span></label>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
        <label>Tea</label>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
      </div>
    </div>
  </div>
</div>
