<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#/account">Account</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/">roundzero</a></h3>
</div>

<div class="jumbotron">
  <h1>Add group</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>

<div class="row marketing">
  <div class="well">
      <input type="email" class="form-control input-lg" placeholder="Group name">
  </div>

  <div class="well">
    <div class="input-group input-group-lg">
      <input type="email" class="form-control" placeholder="Add person">
      <a ng-href="#/add-people" class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div ng-repeat="t in [1,2,3]" class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://lorempixel.com/300/200/cats/{{t}}">
          <div class="caption">
            <p><strong>Username</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a ng-href="#/group" class="btn btn-default btn-lg">Done</a>
</div>
