<div class="header">
  <h3 class="text-muted"><a ng-href="#/">roundzero</a></h3>
</div>

<div class="jumbotron">
  <h1>Account</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="row marketing">
  <div class="well">
    <h2>Drink preferences</h2>

  </div>
  <div class="well">
    <h2>Profile</h2>
    <div class="input-group input-group-lg">
      <input type="email" class="form-control" placeholder="email@example.com" disabled>
    </div>
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Nickname">
    </div>
    <div class="input-group input-group-lg">
      <input type="password" class="form-control" placeholder="Change password">
    </div>
    <div class="input-group input-group-lg">
      <input type="password" class="form-control" placeholder="Confirm password">
    </div>
  </div>
  <a ng-href="#/account" class="btn btn-default btn-lg">Save</a>
</div>
