<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#/account">Account</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/">roundzero</a></h3>
</div>

<div class="jumbotron">
  <h1>Edit account</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="row marketing">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Drink preferences</h2>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="btn btn-primary btn-sm pull-right" title="Default drink">
              <span class="glyphicon glyphicon-glass"></span> Default
            </div>
            <h3>Coffee</h3>
          </div>
          <div class="panel-body">
            <label>Sugar</label>
            <input type="number" min="0" step="1" pattern="\d+" class="form-control">
            <label>Milk</label>
              <select class="form-control">
                <option>None</option>
                <option>A little</option>
                <option>Some</option>
                <option>A lot</option>
              </select>
            <label>Notes</label>
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="btn btn-default btn-sm pull-right">
              <span class="glyphicon glyphicon-glass"></span>
            </div>
            <h3>Tea</h3>
          </div>
          <div class="panel-body">
            <label>Sugar</label>
            <input type="number" min="0" step="1" pattern="\d+" class="form-control">
            <label>Milk</label>
              <select class="form-control">
                <option>None</option>
                <option>A little</option>
                <option>Some</option>
                <option>A lot</option>
              </select>
            <label>Notes</label>
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Profile</h2>
    </div>
    <div class="panel-body">
      <div class="input-group input-group-lg">
        <input type="email" class="form-control" placeholder="email@example.com" disabled>
      </div>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Nickname">
      </div>
      <div class="input-group input-group-lg">
        <input type="password" class="form-control" placeholder="Change password">
      </div>
      <div class="input-group input-group-lg">
        <input type="password" class="form-control" placeholder="Confirm password">
      </div>
    </div>
  </div>
  <a ng-href="#/account" class="btn btn-default btn-lg">Save</a>
</div>
