<div>
    <h1 class="page-header">Forgot password?</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
</div>

<div class="alert alert-success" ng-show="success">
    You should receive an email with details of how to reset your password.
</div>
<div class="alert alert-danger" ng-show="error">{{error}}</div>
<form name="form" role="form" ng-submit="sendEmail()" novalidate>
    <div class="form-group" ng-class="{'has-error': form.email.$invalid && submitted}">
        <label class="sr-only" for="forgot-pw-email">Email address</label>
        <input class="form-control input-lg"
                id="forgot-pw-email"
                name="email"
                ng-model="email"
                placeholder="Email address"
                required
                type="email">
        <p class="help-block error" ng-show="form.email.$error.required && submitted">
            Required
        </p>
        <p class="help-block error" ng-show="form.email.$error.email && submitted">
            Not a valid email address
        </p>
    </div>
    <button class="btn btn-primary btn-lg ladda-button"
            data-style="expand-left"
            type="submit"
            ui-ladda="loading">
        <span class="ladda-label">Send email</span>
    </button>
</form>
