<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#/account">Account</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/">roundzero</a></h3>
</div>

<div class="jumbotron">
  <h1>Group page</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="row marketing">
  <div class="clearfix" style="margin-bottom: 20px;">
    <a ng-href="#/add-group" class="btn btn-default btn-lg pull-right"><span class="glyphicon glyphicon-edit"></span> Edit group</a>
  </div>
  <div class="well">
    <div class="row">

      <a href="#/round" ng-repeat="t in [1,2,3]" class="col-sm-6 col-md-4">
        <div ng-if="t == 1" class="thumbnail btn-default active">
          <img src="http://lorempixel.com/300/200/cats/{{t}}">
          <div class="caption">
            <p><strong>Username</strong></p>
          </div>
        </div>

        <div ng-if="t != 1" class="thumbnail btn-default">
          <img src="http://lorempixel.com/300/200/cats/{{t}}">
          <div class="caption">
            <p><strong>Username</strong></p>
          </div>
        </div>
      </a>

    </div>
  </div>
</div>
