<div class="page-header clearfix">
    <div class="dropdown pull-left">
        <h1 class="dropdown-toggle" data-toggle="dropdown">
            {{group.name}} <span class="caret"></span>
        </h1>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="membership in user.memberships">
                <a href="#/group/{{membership.group.id}}">
                    {{membership.group.name}}
                </a>
            </li>
            <li class="divider"></li>
            <li><a href="#/group/add">
                <span class="glyphicon glyphicon-plus"></span> Add group
            </a></li>
        </ul>
    </div>

    <ul class="nav nav-pills pull-right">
        <li><a href="#/group/{{group.id}}"><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
        <li><a href="#/group/{{group.id}}/members"><span class="glyphicon glyphicon-user"></span> Members</a></li>
        <li class="active"><a href="#/group/{{group.id}}/edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
    </ul>
</div>

<h2>Delete group?</h2>

<p>Are you really sure you want to delete this this group? There's no going back!</p>

<button class="btn btn-lg btn-danger ladda-button"
        data-style="expand-left"
        ui-ladda="progress"
        ng-click="delete()">
    <span class="ladda-label">Delete</span>
</button>
<a class="btn btn-lg btn-default" href="#/group/{{group.id}}/edit">Cancel</a>

