<div class="clearfix">
  <div class="dropdown">
    <h1 class="page-header dropdown-toggle" data-toggle="dropdown">
      Add group <span class="caret"></span>
    </h1>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="membership in user.memberships">
        <a href="#/group/{{membership.group.id}}">
          {{membership.group.name}}
        </a>
      </li>
      <li class="divider"></li>
      <li><a href="#/group/add">
        <span class="glyphicon glyphicon-plus"></span> Add group
      </a></li>
    </ul>
  </div>
</div>

<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<alert type="'danger'" ng-show="error" close="hideError()">{{error}}</alert>
<form name="form" role="form" ng-submit="submit()" novalidate>
    <div class="form-group" ng-class="{'has-error': form.name.$invalid && submitted}">
        <label class="sr-only" for="group-name">Name</label>
        <input id="group-name"
                name="name"
                type="text"
                class="form-control input-lg"
                placeholder="Name"
                required
                ng-model="group.name">
        <p class="help-block error" ng-show="form.name.$error.required && submitted">
            Required
        </p>
    </div>
    <button class="btn btn-primary btn-lg ladda-button"
            data-style="expand-left"
            type="submit"
            ui-ladda="loading">
        <span class="ladda-label">Add group</span>
    </button>
</form>
