<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#/account">Account</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/">roundzero</a></h3>
</div>

<div>
  <h1>Group page</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>

<div class="row marketing">
  <div class="row clearfix" style="margin-bottom: 20px;">
    <a ng-href="#/group/add" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-edit"></span> Edit group</a>
  </div>

  <div class="row">
    <div class="list-group">
      <a href="#/round" class="list-group-item clearfix" ng-repeat="t in [1,2,3,4,5]">
        <span class="badge"><span class="glyphicon glyphicon-glass"></span> +{{t}}</span>
        <img style="float:left; margin-right:20px;"src="http://lorempixel.com/105/105/cats/{{t}}">
        <h4 class="list-group-item-heading">Person number {{t}}</h4>
      </a>
    </div>
  </div>

</div>
