<div id="navbar">
  <div ng-include="'views/partials/header.html'"></div>
</div>

<h1>Welcome</h1>
<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<div class="row marketing">
  <div class="well">
    <div class="btn-group btn-group-justified">
      <a ng-href="#/sign-in" class="btn btn-default ">Sign in</a>
      <a ng-href="#/register" class="btn btn-default ">Register</a>
    </div>
  </div>
</div>

