<div id="navbar">
  <div ng-include="'views/partials/header.html'"></div>
</div>

<h1>Order</h1>
<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<div class="row marketing">
    <ul class="list-group">
      <li class="list-group-item"><span class="glyphicon glyphicon-glass"></span> Coffee: 2 sugars, some milk - User 1</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-glass"></span> Tea: no sugars, a little milk - User 2</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-glass"></span> Tea: no sugars, a lot of milk - User 3</li>
    </ul>
  <a ng-href="#/group" class="btn btn-primary ">Submit round!</a>
  <a ng-href="#/round" class="btn btn-default ">Cancel</a>
</div>
