<div id="navbar">
  <div ng-include="'views/partials/header.html'"></div>
</div>

<h1>Register</h1>
<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<div class="row marketing">
  <div class="well">
    <form role="form">
      <div class="form-group">
        <input name="name" type="text" class="form-control input-lg" placeholder="Username" ng-model="user.name">
      </div>
      <div class="form-group">
        <input name="email" type="email" class="form-control input-lg" placeholder="Email" ng-model="user.email">
      </div>
      <div class="form-group">
        <input name="password" type="password" class="form-control input-lg" placeholder="Password" ng-model="user.password">
      </div>
      <div class="form-group">
        <input name="passwordConf" type="password" class="form-control input-lg" placeholder="Confirm password" ng-model="user.passwordConf">
      </div>
      <button ng-href="#/account" class="btn btn-primary" ng-click="register()">Register</button>
    </form>
  </div>
</div>
