    <h1 class="page-header">Reset password</h1>

    <alert type="'danger'" ng-show="error" close="hideError()">{{error}}</alert>
    <form name="form" role="form" ng-submit="update()" novalidate>
        <div class="form-group" ng-class="{'has-error': form.password.$invalid && submitted}">
            <label class="control-label" for="password">New password</label>
            <input class="form-control input-sm"
                    id="password"
                    name="password"
                    ng-model="user.password"
                    placeholder="New password"
                    required
                    type="password">
            <p class="help-block error" ng-show="form.password.$invalid && submitted">
                Required
            </p>
        </div>
        <div class="form-group" ng-class="{'has-error': form.passwordConf.$invalid && submitted}">
            <label class="control-label" for="password-conf">Confirm password</label>
            <input class="form-control input-sm"
                    id="password-conf"
                    name="passwordConf"
                    ng-model="user.passwordConf"
                    password-match="user.password"
                    placeholder="Confirm password"
                    required
                    type="password">
            <p class="help-block error" ng-show="form.passwordConf.$error.required && submitted">
                Required
            </p>
            <p class="help-block error" ng-show="user.passwordConf && form.passwordConf.$error.unique && submitted">
                Passwords do not match
            </p>
        </div>
        <button class="btn btn-primary ladda-button"
                data-style="expand-left"
                type="submit"
                ui-ladda="loading">
            <span class="ladda-label">Update</span>
        </button>
    </form>