<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#/account">Account</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/">roundzero</a></h3>
</div>

<div>
  <h1>Who's in?</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>

<div class="row marketing">
  <div class="row">
    <div class="list-group">
      <a href="#/round" class="list-group-item clearfix" ng-repeat="t in [1,2,3,4,5]" ng-class="{active: t == 1 }">
        <img style="float:left; margin-right:20px;"src="http://lorempixel.com/105/105/cats/{{t}}">
        <h4 class="list-group-item-heading">Person number {{t}}</h4>
        <select class="form-control" style="max-width: 200px; margin: 10px 0;">
          <option value="none">- None -</option>
          <option value="one">Coffee: 2 sugars, milk</option>
          <option value="two">Tea: no sugar, milk</option>
          <option value="three">Coffee: 1 sugar, milk</option>
        </select>
        <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> New drink preference</button>
      </a>
    </div>
  </div>
  <a ng-href="#/order" class="btn btn-primary btn-lg">Take order</a>
  <a ng-href="#/group" class="btn btn-default btn-lg">Cancel</a>
</div>
